<a href="{{html_url}}"" class="top-user">
  <img src="{{avatar_url}}" alt="{{login}}" />
  <span class="top-user-login">{{login}}</span>
  (<span class="top-user-followers">Followers: <strong>{{followers}}</strong></span>)
</a>
